@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@300;400;500;600&display=swap');


*{
    margin: 0;
    color: white;
    font-family: 'Trispace', sans-serif;
}



body{
    background-color: #20212b;
    width: auto;
    height: auto;
    max-width: 100%;
}

.navbar{
    background-color: #21232d;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 0px 12px;
    border-bottom: 1px solid black;
    border-color: linear-gradient(270deg, #fbad81, #e8fb81, #81fb96, #81dffb, #a981fb, #fb81cb, #fb8181);;
}

.navbar li{
    display:flex;
    list-style: none;
}
@keyframes animateBg {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100% 0;
    }
  }

.logo{
    text-decoration: none;
    font-size: 28px;
    padding: 10px 15px;
    background: linear-gradient(270deg, #fbad81, #e8fb81, #81fb96, #81dffb, #a981fb, #fb81cb, #fb8181);
    background-size: 1400% 1400%;
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: titlegradient 20s ease infinite;
}
@keyframes titlegradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.soon{
    width:calc(100% - 40px);
    display: flex;
    padding: 20px;
    justify-content: center;
    text-align: center;
}
